@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap");
.login_home_section {
  background-image: url("../../../assets/Banner/attendence-login-banne.jpeg");
  background-size: contain;
  width: 100%;
  height: 100vh;
  display: flex;
}
.slogan_section {
  background: #000000b2;
}
.slogan_section .slogan_text {
  text-transform: uppercase;
  font-family: "Alegreya", serif;
  font-style: normal;
  font-size: 56px;
  font-weight: bolder;
}
.slogan_section .login_quote {
  font-size: 40px;
  font-style: italic;
  text-transform: capitalize;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.login_banner_text {
  margin: auto;
}
.login_btn_grp {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px auto;
}
.login_btn_grp .custom_btn {
  padding: 8px 15px;
  background-color: #cc1212;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  margin: 0px 25px;
}
.login_btn_grp .custom_btn:hover {
  color: #000;
  background-color: #fff;
}
